a {color:#1B78B1}
a:hover {color:#68A5D2}

#hd{
	background:#68A5D2;
}

#ft{
	background:#F4F4F4;
	font-size:77%;
	text-align:center;
	color:#666;
	padding:2px;
}

.nav {
	background:#1B78B1;
	clear:both;
	height:30px;
	padding:5px 0 0 0px;
}

#subnav {
	background:#DDE9BD;
	clear:both;
	height:20px;
	padding-left:10px;
}

#subnav li {padding:0; margin:0 15px 0 0; float:left}
#subnav li a {text-decoration:none; color:#000; font-size:93%}
#subnav li a:hover {text-decoration:underline;}
#subnav li.selected a {font-weight:bold}

#bd {padding: 20px 10px 10px 10px}

/* Fonts */
.yui-b h3 {font-size:123.1%; color:#68A5D2}

/* Forms */
fieldset {
   /**
    border-color:#E5E5E5 -moz-use-text-color -moz-use-text-color;
    border-style:solid none none;
    border-width:1px medium medium;
    **/
    border: 1px solid #CCCCCC;
    margin:8px 0px 30px 0px;
    padding: 16px 45px;
    position:relative;
}

fieldset.undecorated {
    border: none;
    margin-top:-20px;
}

fieldset legend {
    color:#000000;
    font-size:93%;
    font-weight:bold;
    margin:0 0 0 -10px;
    padding:0 10px;
    color:#666666;
}

label {
    width:130px;
    float:left;
    color:#666666;
    font-size:93%;
}

field {
    float:left;
    width:250px;
}

desc {
    margin-left:20px;
    color:#959595;
    font-size:12px;
    font-style:italic;
    clear:both;
}

row {
    float:left;
    clear: left;
    min-height:30px;
    margin-bottom:15px;
    width:100%;
}

.error {color:#ED171F}
.success {color:green}

form input[type='text'], form input[type='password'], form select {border:1px solid #68A5D2; width:100%;}
form input[type='submit'], form input[type='button'], button {background:#68A5D2; color:#FFFFFF; font-weight:bold; border: 0px; padding:2px 10px 2px 10px; cursor:pointer}
form input[type='submit']:hover, form input[type='button']:hover, button:hover {background:#1B78B1;}

.row {border-bottom:1px dotted #CCCCCC; padding:10px 0 10px 0}

.switchOn, .switchOff {width:60px ; height:26px ; background-image:url('../gfx/switch_bg.png'); background-repeat: no-repeat;}
.switchOn {padding-left:1px; padding-top:1px}
.switchOff {padding-left:30px; padding-top:1px}

/* Paging */
#paging .activePage {background:#1B78B1; float:left; ; margin-left:1px}
#paging .inactivePage {background:#DDE9BD; float:left;margin-left:1px}
#paging .activePage a , #paging .inactivePage a {color:#FFFFFF; text-decoration:none; padding:2px}
#paging .activePage:hover, #paging .inactivePage:hover {background:#68A5D2}
#paging .meta {padding:2px; color:#AAAAAA} 

.comment {
	color:#999999;
	font-size:93%;
	margin-left:130px;
}