<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="crawl-prepare-crawldb"
   name="Crawl Prepare Crawldb Inject"
   version="1.0"
   provider-name="org.apache.nutch">

   
   <runtime>
     <library name="crawl-prepare-crawldb.jar">
        <export name="*"/>
     </library>
     <library name="conf">
        <export name="*"/>
     </library>
   </runtime>

   <extension point="org.apache.nutch.crawl.IPreCrawl"
              id="org.apache.nutch.crawl.IPreCrawl"
              name="Pre Crawl">

      <implementation class="org.apache.nutch.crawl.crawldb.CrawldbInject"
                      id="org.apache.nutch.crawl.crawldb.CrawldbInject" >
      </implementation>
   </extension>
</plugin>
