ingrid-iplug-se-iplug/apache-nutch-runtime/
ingrid-iplug-se-iplug/test-instances/
ingrid-iplug-se-iplug/test-data/
ingrid-iplug-se-iplug/test/
ingrid-iplug-se-iplug/.classpath
ingrid-iplug-se-iplug/.project
ingrid-iplug-se-iplug/elasticsearch/
ingrid-iplug-se-nutch/
/target
