ingrid-iplug-se-iplug/apache-nutch-runtime/
ingrid-iplug-se-iplug/test-instances/
ingrid-iplug-se-iplug/test-data/
ingrid-iplug-se-iplug/test/
ingrid-iplug-se-iplug/.classpath
ingrid-iplug-se-iplug/.project
ingrid-iplug-se-iplug/elasticsearch/
/target
ingrid-iplug-se-nutch/bin/
ingrid-iplug-se-nutch/build/
ingrid-iplug-se-nutch/ingrid-nutch-libs/
bin/
/ingrid-iplug-se-iplug/.settings
/ingrid-iplug-se-iplug/target
/ingrid-iplug-se-iplug/.classpath
/ingrid-iplug-se-iplug/.project
/ingrid-iplug-se-nutch/.project
/ingrid-iplug-se-nutch/.settings
/ingrid-iplug-se-nutch/target
/ingrid-iplug-se-nutch/.classpath
/.project
.settings/
distribution/target/
/dump*
