<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="crawl-prepare-bwdb"
   name="Crawl Prepare Inject Bwdb"
   version="1.0"
   provider-name="org.apache.nutch">

   
   <runtime>
     <library name="crawl-prepare-bwdb.jar">
        <export name="*"/>
     </library>
     <library name="conf">
        <export name="*"/>
     </library>
   </runtime>
   
   <extension point="org.apache.nutch.crawl.IPreCrawl"
              id="org.apache.nutch.crawl.IPreCrawl"
              name="Pre Crawl">

      <implementation class="org.apache.nutch.crawl.prepare.BwdbPrepare"
                      id="org.apache.nutch.crawl.prepare.BwdbPrepare" >
      </implementation>
   </extension>   
   
</plugin>

