<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="admin-urlmaintenance"
   name="Administration Urlmaintenance"
   version="1.0"
   provider-name="org.apache.nutch">

   
   <runtime>
     <library name="admin-urlmaintenance.jar">
        <export name="*"/>
     </library>
     <library name="conf">
        <export name="*"/>
     </library>
   </runtime>

   <extension point="org.apache.nutch.admin.IGuiComponent"
              id="org.apache.nutch.admin.IGuiComponent"
              name="Administration Urlmaintenance">

      <implementation class="org.apache.nutch.admin.DefaultGuiComponent"
                      id="org.apache.nutch.admin.DefaultGuiComponent" >
			<parameter name="isInstanceComponent" value="false"/>
			<parameter name="isGeneralComponent" value="true"/>
      </implementation>
   </extension>
   
   <extension point="org.apache.nutch.crawl.IPreCrawl"
              id="org.apache.nutch.crawl.IPreCrawl"
              name="Pre Crawl">

      <implementation class="de.ingrid.iplug.se.urlmaintenance.DatabaseExport"
                      id="de.ingrid.iplug.se.urlmaintenance.DatabaseExport" >
      </implementation>
   </extension>   
   
</plugin>
