<?xml version="1.0" encoding="UTF-8"?>

<plugin
   class="de.ingrid.admin.PlugDescriptionPlugin"
   id="admin-pd"
   name="Administration Plug Description"
   version="1.0"
   provider-name="de.ingrid.nutch">

   <runtime>
     <library name="admin-pd.jar">
        <export name="*"/>
     </library>
     <library name="conf">
        <export name="*"/>
     </library>
     <library name="ant-1.6.jar">
        <export name="*"/>
     </library>
     <library name="aopalliance-1.0.jar">
        <export name="*"/>
     </library>
     <library name="commons-beanutils-1.7.0.jar">
        <export name="*"/>
     </library>
     <library name="commons-beanutils-core-1.7.0.jar">
        <export name="*"/>
     </library>
     <library name="commons-betwixt-0.7.jar">
        <export name="*"/>
     </library>
     <library name="commons-codec-1.3.jar">
        <export name="*"/>
     </library>
     <library name="commons-collections-3.1.jar">
        <export name="*"/>
     </library>
     <library name="commons-digester-1.6.jar">
        <export name="*"/>
     </library>
     <library name="commons-el-1.0.jar">
        <export name="*"/>
     </library>
     <library name="commons-logging-1.0.4.jar">
        <export name="*"/>
     </library>
     <library name="cron4j-2.1.1.jar">
        <export name="*"/>
     </library>
     <library name="ehcache-1.4.1.jar">
        <export name="*"/>
     </library>
     <library name="ingrid-base-webapp-0.1-SNAPSHOT.jar">
        <export name="*"/>
     </library>
     <library name="ingrid-communication-1.2.2-SNAPSHOT.jar">
        <export name="*"/>
     </library>
     <library name="ingrid-communication-authentication-1.2.1.jar">
        <export name="*"/>
     </library>
     <library name="ingrid-ibus-1.2.1.jar">
        <export name="*"/>
     </library>
     <library name="ingrid-ibus-client-1.2.3-SNAPSHOT.jar">
        <export name="*"/>
     </library>
     <library name="ingrid-iplug-1.3-SNAPSHOT.jar">
        <export name="*"/>
     </library>
     <library name="ingrid-utils-1.3.0-SNAPSHOT.jar">
        <export name="*"/>
     </library>
     <library name="jsr107cache-1.0.jar">
        <export name="*"/>
     </library>
     <library name="log4j-1.2.9.jar">
        <export name="*"/>
     </library>
     <library name="lucene-analyzers-2.9.0.jar">
        <export name="*"/>
     </library>
     <library name="lucene-core-2.9.0.jar">
        <export name="*"/>
     </library>
     <library name="mockito-all-1.8.0.jar">
        <export name="*"/>
     </library>
     <library name="quartz-1.6.5.jar">
        <export name="*"/>
     </library>
     <library name="spring-2.5.6.jar">
        <export name="*"/>
     </library>
     <library name="spring-beans-2.5.6.jar">
        <export name="*"/>
     </library>
     <library name="spring-context-2.0.6.jar">
        <export name="*"/>
     </library>
     <library name="spring-context-support-2.5.6.jar">
        <export name="*"/>
     </library>
     <library name="spring-core-2.5.6.jar">
        <export name="*"/>
     </library>
     <library name="spring-web-2.5.6.jar">
        <export name="*"/>
     </library>
     <library name="spring-webmvc-2.5.6.jar">
        <export name="*"/>
     </library>
     <library name="xercesImpl-2.4.0.jar">
        <export name="*"/>
     </library>
     <library name="xml-apis-1.3.03.jar">
        <export name="*"/>
     </library>
     <library name="xpp3_min-1.1.3.4.O.jar">
        <export name="*"/>
     </library>
     <library name="xstream-1.2.1.jar">
        <export name="*"/>
     </library>
   </runtime>
   
   <extension point="de.ingrid.nutch.admin.IGuiComponent"
              id="de.ingrid.nutch.admin.IGuiComponent"
              name="Administration Plug Description">

      <implementation class="de.ingrid.nutch.admin.DefaultGuiComponent"
                      id="de.ingrid.nutch.admin.DefaultGuiComponent" >
            <parameter name="isInstanceComponent" value="false"/>
            <parameter name="isGeneralComponent" value="true"/>
      </implementation>
   </extension>
   
   <extension-point
      id="de.ingrid.nutch.admin.IGuiComponent"
      name="Nutch Administration Gui Component"/>

    <extension-point
      id="de.ingrid.nutch.crawl.IPreCrawl"
      name="Nutch Pre Crawl"/>
   
</plugin>