<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="admin-configuration"
   name="Administration Configuration"
   version="1.0"
   provider-name="org.apache.nutch">

   
   <runtime>
     <library name="admin-configuration.jar">
        <export name="*"/>
     </library>
     <library name="conf">
        <export name="*"/>
     </library>
   </runtime>

   <extension point="org.apache.nutch.admin.IGuiComponent"
              id="org.apache.nutch.admin.IGuiComponent"
              name="Administration Configuration">

      <implementation class="org.apache.nutch.admin.DefaultGuiComponent"
                      id="org.apache.nutch.admin.DefaultGuiComponent" >
			<parameter name="isInstanceComponent" value="true"/>
      </implementation>
   </extension>
</plugin>
