<?xml version="1.0" encoding="UTF-8"?>

<plugin
   class="de.ingrid.iplug.se.urlmaintenance.UrlMaintenancePlugin"
   id="admin-urlmaintenance"
   name="Administration Urlmaintenance"
   version="1.0"
   provider-name="de.ingrid.nutch">

   
   <runtime>
     <library name="admin-urlmaintenance.jar">
        <export name="*"/>
     </library>
     <library name="eclipselink-1.2.0.jar">
        <export name="*"/>
     </library>
     <library name="hsqldb.jar">
        <export name="*"/>
     </library>
     <library name="javax.persistence_1.0.0.jar">
        <export name="*"/>
     </library>
     <library name="javax.persistence_2.0_preview.jar">
        <export name="*"/>
     </library>
     <library name="mysql-connector-java-5.1.7-bin.jar">
        <export name="*"/>
     </library>
     <library name="mockito-all-1.7.jar">
        <export name="*"/>
     </library>
     <library name="jackson-mapper-asl-0.9.9-6.jar">
        <export name="*"/>
     </library>
     <library name="jackson-core-asl-0.9.9-6.jar">
        <export name="*"/>
     </library>
     <library name="ojdbc14.jar">
        <export name="*"/>
     </library>

     <library name="conf">
        <export name="*"/>
     </library>
   </runtime>
   
   <extension point="de.ingrid.nutch.admin.IGuiComponent"
              id="de.ingrid.nutch.admin.IGuiComponent"
              name="Administration Urlmaintenance">

      <implementation class="de.ingrid.nutch.admin.DefaultGuiComponent"
                      id="de.ingrid.nutch.admin.DefaultGuiComponent" >
			<parameter name="isInstanceComponent" value="false"/>
			<parameter name="isGeneralComponent" value="true"/>
      </implementation>
   </extension>
   
   <extension point="de.ingrid.nutch.crawl.IPreCrawl"
              id="de.ingrid.nutch.crawl.IPreCrawl"
              name="Pre Crawl">

      <implementation class="de.ingrid.iplug.se.urlmaintenance.UrlmaintenancePreCrawl"
                      id="de.ingrid.iplug.se.urlmaintenance.UrlmaintenancePreCrawl" >
      </implementation>
   </extension>   
   
</plugin>
