<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="scoring-ingrid"
   name="Scoring plugin for ingrid specific scoring. Combines depth-limited crawling with webrank link index scoring."
   version="1.0.0"
   provider-name="ant.com">

   <runtime>
      <library name="scoring-ingrid.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="de.ingrid.iplug.se.nutch.scoring.ingrid"
              name="Ingrid Scoring Filter"
              point="org.apache.nutch.scoring.ScoringFilter">
      <implementation id="DepthScoringFilter"
                      class="de.ingrid.iplug.se.nutch.scoring.ingrid.IngridScoringFilter"/>
   </extension>
</plugin>
