<?xml version="1.0" encoding="UTF-8"?>
<!--
  **************************************************-
  ingrid-iplug-se-iplug
  ==================================================
  Copyright (C) 2014 wemove digital solutions GmbH
  ==================================================
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  **************************************************#
  -->


<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
				http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	

	<!-- XML DEFINED BEANS WITH ACCORDING QUALIFIER TO BE AUTOWIRED VIA QUALIFIER ! -->
    <bean id="queryConverter" class="de.ingrid.elasticsearch.search.converter.QueryConverter">
        <property name="queryParsers">
            <list>
				<ref bean="IPlugIdQueryConverter"/>
                <ref bean="defaultFieldsQueryConverter" />
                <ref bean="datatypePartnerProviderQueryConverter" />
                <ref bean="fieldQueryIGCConverter" />
                <ref bean="rangeQueryConverter" />
                <ref bean="wildcardQueryConverter" />
                <ref bean="wildcardFieldQueryConverter" />
                <ref bean="matchAllQueryConverter" />
            </list>
        </property>
   </bean>
	
</beans>