build
eclipse-classes
hadoop.log*
conf/nutch-site.xml
conf/regex-urlfilter.txt
PDFBox.log
bin/hadoop
bin/hadoop-config.sh
bin/hadoop-daemon.sh
bin/hadoop-daemons.sh
bin/rcc
bin/slaves.sh
bin/start-all.sh
bin/start-balancer.sh
bin/start-dfs.sh
bin/start-mapred.sh
bin/stop-all.sh
bin/stop-balancer.sh
bin/stop-dfs.sh
bin/stop-mapred.sh
conf/automaton-urlfilter.txt
conf/crawl-urlfilter.txt
conf/hadoop-env.sh
conf/hadoop-site.xml
conf/httpclient-auth.xml
conf/prefix-urlfilter.txt
conf/regex-normalize.xml
conf/slaves
conf/subcollections.xml
conf/suffix-urlfilter.txt

