<?xml version="1.0" encoding="UTF-8"?>
<plugin class="de.ingrid.iplug.sns.nutch.IPlugSNSPlugin" id="index-sns" name="SNS Indexing Filter" provider-name="media-style.com" version="1.0.0">
	<runtime>
		<library name="index-sns.jar">
			<export name="*"/>
		</library>

	</runtime>
	<requires>
		<import plugin="nutch-extensionpoints"/>
	</requires>
	
	<extension id="de.ingrid.iplug.sns.nutch.index" name="Ingrid SNS Indexing Filter" point="org.apache.nutch.indexer.IndexingFilter">
		<implementation class="de.ingrid.iplug.sns.nutch.index.SnsIndexingFilter" id="SnsIndexingFilter"/>
	</extension>
	
	<extension id="de.ingrid.iplug.sns.nutch.query" name="Ingrid SNS Query Filter" point="org.apache.nutch.searcher.QueryFilter">
		<implementation class="de.ingrid.iplug.sns.nutch.query.SnsQueryFilter" id="SnsQueryFilter" raw-fields="t0,t1,t2,x1,x2,y1,y2,time,coord,buzzword,code,areaid,incl_meta"/>
	</extension>
	
</plugin>
