<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="parse-dummy"
   name="Dummy Parse Plug-in"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="parse-dummy.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.parse.dummy"
              name="DummyParse"
              point="org.apache.nutch.parse.Parser">

      <implementation id="org.apache.nutch.parse.dummy.DummyParser"
                      class="org.apache.nutch.parse.dummy.DummyParser"
                      contentType="text/plain"
                      pathSuffix=""/>

   </extension>

</plugin>
