fieldset {
	border: 1px solid #CCC;
	margin: 8px 0px 30px 0px;
	padding: 16px 45px;
	position: relative;
}

row {
	float: left;
	clear: left;
	min-height: 30px;
	margin-bottom: 15px;
	width: 100%;	
}

label {
	float: left;
	width: 130px;
}

/* Time Picker  */
.ui-widget-header {
    border-bottom: 1px solid #AAA;
}

#ptTimeSelectSetButton a {
    border: 1px solid;	
}

.ui-widget-content.ptTimeSelectLeftPane {
	border-right: 1px solid #AAA !important;
}

.ptTimeSelectHrAmPmCntr {
	border: 1px solid #AAA;
	background-color: #EEE;
}

/* TABS */
#weekDays, #monthDays {
	float: left;
	position: relative;
	left: 130px;
	padding-right: 130px;
	top: -17px;
}

/* input, select {
	width: 100% !important;
}
  */
input[name='time'] {
	width: 100px;
} 


#tab-container {
	padding: 10px;
}

.etabs {
	margin: 0;
	padding: 0 !important;
}

.tab {
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: #F5F8EB;
	border: solid 1px #DDE9BD;
	border-bottom: none;
	padding-bottom: 0 !important;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.tab a {
	font-size: 14px;
	line-height: 2em;
	display: block;
	padding: 0 10px;
	outline: none;
}

.tab a:hover {
	text-decoration: none;
}

.tab.active {
	background: #fff;
	padding-top: 6px;
	position: relative;
	top: 1px;
	border-color: #DDE9BD;
}

.tab a.active {
	font-weight: bold;
}

.tab-container .panel-container {
	background: #fff;
	border: solid #DDE9BD 1px;
	padding: 10px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
}

/* table, th, td {
	border: 1px solid #999;
	padding: 8px 16px;
	text-align: left;
	font-size: 1em;
	border-collapse: collapse;
} */
#instances {
	margin: 20px;
}

#instances table {
	width: 100%;
	margin-bottom: 5px;
}

/* tables */
table.tablesorter {
	font-family: arial;
	background-color: #CDCDCD;
	margin: 10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border-spacing: 1px;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
}

table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	word-break: break-word;
}

table.tablesorter tbody tr.odd td {
	background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}